<%namespace name="layout" file="layout.html"/>
${layout.head("media add")}
	<div class="container-fluid">
		
		<div class="page-header">
		  <h1>Nouveau média</h1>
		</div>
		<div class="container">		
		<form action="addMediaSend" method="GET" role="form">
		
			<div class="form-group">
				<label for="inputName">Nom</label>
				<input type="text" name="name" class="form-control" id="inputName" placeholder="Nom">
			</div>

			<div class="form-group">
				<label for="inputLength">Durée</label>
				<input type="number" name="length" class="form-control" id="inputHoles" min="1" step="1">
			</div>

			<div class="form-group">
				<label for="inputMedia">Type de média</label>
				<select name="ocarina" class="form-control">
				% for i in typeMediaArray:
					<option value="${i.id_type_media}">${i.name}</option>
				% endfor
				</select>
			</div>	

			<button type="submit" class="btn btn-primary">Ajouter</button>
		</form>
		</div>
	</div>
${layout.footer()}
${layout.scripts()}
${layout.endOfPage()}
