<%namespace name="layout" file="layout.html"/>
${layout.head("performer add")}
	<div class="container-fluid">
		
		<div class="page-header">
		%if performer != None:		
			<h1>Modifier ${performer.name}</h1>
			<% performerName = performer.name%>
			<% performerId = performer.id_performer%>
			<% messageSend = "Modifier"%>
		%else:
			<h1>Nouvel artiste</h1>
			<% performerName = ""%>
			<% performerId= None%>
			<% messageSend = "Ajouter"%>
		%endif
		</div>
		<div class="container">		
		<form action="/addPerformerSend" method="GET" role="form">
		
			<div class="form-group">
				<label for="inputName">Nom</label>
				<input type="text" name="name" class="form-control" id="inputName" value="${performerName}" placeholder="nom">
				<input type="hidden" name="performer_id" value="${performerId}">
			</div>
			
			<button type="submit" class="btn btn-primary">${messageSend}</button>
		</form>
		</div>
	</div>
${layout.footer()}
${layout.scripts()}
${layout.endOfPage()}
