<%namespace name="layout" file="layout.html"/>
${layout.head("all media view")}
	<div class="container-fluid">
		
		<div class="page-header">
		  <h1>Liste des Médias</h1>
		</div>
		<div class="container">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Nom du média</th>
						<th>Type de média</th>
						<th>Durée</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					% for media in mediaArray:
					<tr>
						<td>${media.name}</td>
						<td>${mediaInfos[media.id_media].name}</td>
						<td>${media.length} min</td>
						<td><a href="media/${media.id_media}" class="btn btn-info" role="button"><i class="fa fa-eye"></i></a></td>
					</tr>
					%endfor
					<a href="addMedia" class="btn btn-success" role="button"><i class="fa fa-plus"></i>  Ajouter un média</a>
				</tbody>
			</table>	
		</div>	
	</div>
${layout.footer()}
${layout.scripts()}
${layout.endOfPage()}
