<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Title</title>
</head>
<body>

	<select id="selectOcarina">
		% for i in typeOcarinaArray:
			<option value="${i.id_type_ocarina}">${i.name}</option>
		% endfor
	</select>
	<button onclick="searchOcarina()">Search</button>
</body>
<script src="/static/js/jquery.min.js"></script>
<script>
	function searchOcarina () {
		choice = $("#selectOcarina").val()
		window.location = "/ocarina/"+choice
	}
</script>
</html>