<%namespace name="layout" file="layout.html"/>
${layout.head("menu")}
	<div class="container-fluid">
		<div class="page-header">
		  <h1>Menu Principal</h1>
		</div>

		<div class="col-lg-2 dropdown" id="selectOcarina">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Liste des Ocarinas<span class="caret"></span></button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			% for i in typeOcarinaArray:
				<li><a href="/ocarina/${i.id_type_ocarina}">${i.name}</a></li>
			% endfor
			</ul>
		</div>		
		<a href="allOcarinas" class="col-lg-1 btn btn-info" role="button">Tous les ocarinas</a>

		<div class="col-lg-2 dropdown" id="selectPerformer">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Liste des artistes<span class="caret"></span></button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			% for i in performerArray:
				<li><a href="/performer/${i.id_performer}">${i.name}</a></li>
			% endfor
			</ul>
		</div>
		<a href="allPerformers" class="col-lg-1 btn btn-info" role="button">Tous les artistes</a>
		<div class="col-lg-2 dropdown" id="selectMedia">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Liste des medias<span class="caret"></span></button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			% for i in mediaArray:
				<li><a href="/media/${i.id_media}">${i.name}</a></li>
			% endfor
			</ul>
		</div>
		<a href="allMedias" class="col-lg-1 btn btn-info" role="button">Tous les médias</a>
		<div class="col-lg-2 dropdown" id="selectTypeMedia">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Liste des types de medias<span class="caret"></span></button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			% for i in typeMediaArray:
				<li><a href="/typeMedia/${i.id_type_media}">${i.name}</a></li>
			% endfor
			</ul>
		</div>
		<a href="allTypeMedias" class="col-lg-1 btn btn-info" role="button">Tous les types de médias</a>
		<a href="allOccurrences" class="col-lg-1 btn btn-info" role="button">Toutes les occurrences</a>
	</div>
</body>
${layout.footer()}
${layout.scripts()}
${layout.endOfPage()}