<%namespace name="layout" file="layout.html"/>
${layout.head("ocarina view")}
	<div class="container-fluid">
		
		<div class="page-header">
		  <h1>${ocarina.name}</h1>
		  <a href="/addOcarina/${ocarina.id_type_ocarina}" class="btn btn-warning" role="button"><i class="fa fa-pencil-square-o"></i> Modifier</a>
		</div>
		<div class="container">		
			<div class="panel panel-default">
				<table class="table table-striped table-hover">
					<tbody>
						<tr>
							<td>Nombres de trous</td><td>${ocarina.hole_nb}</td>
						</tr>
						% if performer != None:
						<tr onclick="window.location = '/performer/${performer.id_performer}'">
							<td>Interprête ayant le plus joué</td><td>${performer.name}</td>
						</tr>
						% else:
						<tr>
							<td><div class="alert alert-info">
								 Cet ocarina n'a jamais été joué
								</div></td><td></td>
						</tr>
						% endif
						% if typeMedia != None:
						<tr onclick="window.location = '/typeMedia/${typeMedia.id_type_media}'">
							<td>Type de média dans lequel il apparaît le plus</td><td>${typeMedia.name}</td>
						</tr>
						% endif
						<tr>
							<td>temps de jeu minimum</td><td>${min} minutes</td>
						</tr>
						<tr>
							<td>temps de jeu maximum</td><td>${max} minutes</td>
						</tr>
						<tr>
							<td>temps de jeu total</td><td>${total} minutes</td>
						</tr>
						<tr>
							<td>temps de jeu moyen</td><td>${avg} minutes</td>
						</tr>
					</tbody>
				</table>	
			</div>
		</div>
	</div>
${layout.footer()}
${layout.scripts()}
${layout.endOfPage()}
